{% load staticfiles %}
<div class="modal{% if not modal %} fade{% endif %}" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if not modal %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endif %}
                <h4 class="modal-title coupon-title" id="myModalLabel">{% if modal %}{{ coupon.title }}{% endif %}</h4>
            </div>
            <div class="modal-body coupon-body">
                <div class="media">
                    {% if coupon.business.logo %}
                    <div class="media-left media-top">
                        <img class="media-img" src="/img/{{ coupon.business.logo.url }}" alt="image">
                    </div>
                    {% endif %}
                    <div class="media-body">
                        <h1 class="media-heading coupon-couptitle">{% if modal %}{{ coupon.title|linebreaks }}{% endif %}</h1>
                    </div>
                </div>
                <p class="coupon-fine-print">
                본 쿠폰을 소지하신 분에 한해 할인 혜택이 제공됩니다. 쿠폰은 하루 1인 1매 사용 가능하며, 다른 할인 프로모션과 중복 사용할 수 없습니다.
                쿠폰은 현금이나 크레딧으로 교환 할수없습니다. 해당 쿠폰 서비스가 제공되는 업체는 사용 조건을 변경하거나 쿠폰을 취소할 권리를 보유합니다.
                회원은 상품쿠폰을 회원 본인의 구매에 한해서만 사용할 수 있으며, 어떠한 경우에도 이를 타인에게 실질적 으로 매매 또는 양도할 수 없습니다.
                상품쿠폰은 일부 품목이나 금액에 따라 사용이 제한될 수 있으며, 유효기간이 지난 후에는 사용할 수 없습니다. 
                </p>
                {% if coupon.exp_date %}<p class="coupon-exp-date">Expires: {{ coupon.exp_date|date:"m/d/y" }}</p>{% endif %}
            </div>
            <hr>
            <div class="container map-container">
                {% if modal %}

                <h3>About {{ coupon.business.name }}</h3>
                <p>Address: {{ coupon.business.address }}</p>
                <p>Phone: {{ coupon.business.phone}}</p>

                {% else %}
                
                <h3 class="coupon-bizname"></h3>
                <p class="coupon-bizaddress"></p>
                <p class="coupon-bizphone"></p>

                {% endif %}
            </div>

            {% if coupon.business.address %}
            <div id="map">
            </div>
            <script>
$( document ).ready(function() {
                $.ajax({
                    url: '/map?url_code=' + '{{ coupon.url_code }}',
                    dataType: 'html',
                    success: function(data) {
                        $( "#map" ).append(data);
                    }
                });
});
            </script>
            {% endif %}
            <div class="modal-footer">
                <div class="form-group">
                    <label for="share-link" class="col-xs-2 col-form-label share-form-label">Share:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control coupon-urlcode" id="share-link" value="{% if modal %}{{ request.META.HTTP_HOST }}{% url 'coupon' coupon.url_code %}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>			

