{% extends 'base.html' %}
{% block title %}

{% if category %}
{{ category.kor_name }}
{% elif search %}
{{ search }}
{% else %}
Home
{% endif %}

{% endblock %}
{% load staticfiles %}
{% load tags %}

{% block content %}

{% if category or search and category.eng_name != 'Online' %}
<div class="container">
    {% if category %}
    <h5>{{ category.kor_name }}</h5>
    {% elif search %}
    <h5>Search: "{{ search }}"</h5>
    {% endif %}
    <div class="row">
        {% for coupon in coupons %}
            {% include 'card.html' %}
        {% endfor %}
    </div><!--.row-->
</div><!--.container-->
{% endif %}
{% if empty_results %}
<div class="container">
<h4>NO RESULTS WERE FOUND</h4>
</div>
{% endif %}

{% if all_coupons %}
<div class="container">
    <h5>All Coupons</h5>
    <div class="row">
        {% for coupon in all_coupons %}
            {% include 'card.html' %}
        {% endfor %}
    </div><!--.row-->
</div><!--.container-->
{% endif %}

<div class="modal" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="couponModalContent" class="modal-dialog" role="document">
    </div>
</div> 
{% endblock %}
