{% extends 'base.html' %}
{% block title %}
DCjura
{% endblock %}
{% load staticfiles %}
{% load tags %}

{% block content %}

<div class="container">
    <div class="row">
        {% for coupon in coupons %}
        {% if coupon.exp_date >= today or coupon.exp_date = None %}
        <div class="col-md-3 col-xs-6 card-container">
            <div class="card">
                    <a href="#" 
                        data-toggle="modal" 
                        data-target="#couponModal" 
                        data-title="{{ coupon.title }}" 
                        data-couptitle="{{ coupon.title|linebreaks }}" 
                        data-expdate="{{ coupon.exp_date|date:"m/d/y" }}" 
                        data-bizname="{{ coupon.business.name }}" 
                        data-bizaddress="{{ coupon.business.address }}" 
                        data-bizphone="{{ coupon.business.phone }}"
                        {% if coupon.business.logo %}
                        data-bizlogo="{{ coupon.business.logo }}"
                        {% endif %}
                        data-urlcode="{{ coupon.url_code }}"
                        data-url="{{ request.META.HTTP_HOST }}{% url 'coupon' coupon.url_code %}"
                        >
                        {% if coupon.cover %}
                        <img class="card-img-top" src="{{ coupon.cover.url }}" alt="{{ coupon.title }}">
                        {% else %}
                        <img class="card-img-top" src="{% static 'img/error.gif' %}" alt="{{ coupon.title }}">
                        {% endif %}
                </a>
                <div class="card-block">
                    <a href="#" 
                        data-toggle="modal" 
                        data-target="#couponModal" 
                        data-title="{{ coupon.title }}" 
                        data-couptitle="{{ coupon.title|linebreaks }}" 
                        data-expdate="{{ coupon.exp_date|date:"m/d/y" }}" 
                        data-bizname="{{ coupon.business.name }}" 
                        data-bizaddress="{{ coupon.business.address }}" 
                        data-bizphone="{{ coupon.business.phone }}"
                        {% if coupon.business.logo %}
                        data-bizlogo="{{ coupon.business.logo }}"
                        {% endif %}
                        data-urlcode="{{ coupon.url_code }}"
                        data-url="{{ request.META.HTTP_HOST }}{% url 'coupon' coupon.url_code %}"
                        >
                        <h5 class="card-title">{{ coupon.title }}</h5>
                    </a>
                    <p class="{% if coupon.exp_date and coupon.exp_date|expire_soon  %}text-danger{% else %}text-muted{% endif %} card-detail card-expdate">
                    {% if coupon.exp_date %}
                    Expires: {{ coupon.exp_date|date:"m.d.y" }}
                    {% endif %}
                    </p>
                    <p class="text-muted card-detail">{{ coupon.business.name }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% include 'coupon-modal.html' %}
{% endblock %}
