<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<div id="map"></div>
<script>
function initMap() {
    var geocoder = new google.maps.Geocoder();
    var myLatLng = {lat: 0, lng: 0};
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 13
    });
    // Create a marker and set its position.
    var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: '{{ coupon.business.name }}'
    });
    $(window).resize(function() {
        // (the 'map' here is the result of the created 'var map = ...' above)
        google.maps.event.trigger(map, "resize");
    });
    var address = '{{ coupon.business.address }}'
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } 
33          else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
}
</script>

{% load tags %}
{% gmaps as gmaps_key %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap" async defer></script>
