option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "dcjura.settings"
        "PYTHONPATH": "/opt/python/current/app/dcjura:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: "dcjura/wsgi.py"
        NumProcesses: 3
        NumThreads: 20
