.header {
    margin-bottom: 15px;
}
.bg-danger {
    color: #fff!important;
    background-color: #4183D7!important;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 39px;
}

.card-img-top {
    width: 100%;
}
.coupon-body {
    border-style: dashed;
    margin: 10px;
}
.media-img {
    width: 50px;
}
.coupon-fine-print {
    font-size: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 95px;
  background-color: #ECECEC;
  padding-top: 15px;
}
#navlist li {
display: inline;
list-style-type: none;
padding-right: 25px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
.copy {
	color: black;
	text-align: center;
	margin-top: 15px;
}
#map {
    height: 300px;
}

