html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
.header {
    margin-bottom: 15px;
    border-radius: 0px;
}
.bg-danger {
    color: #fff!important;
    background-color: #4183D7!important;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 39px;
}
.nav-menu {
    margin-top: 20px;
    text-align: right;
}
.nav-menu * {
    color: white;
}
.nav-menu>a:not(:first-child) {
    padding-left: 10px;
}
.nav-menu>a:hover, .nav-menu>a:focus {
    color: #eee;
}
.card-container {
    padding-left: 10px;
    padding-right: 10px;
}
.card {
    margin-bottom: 15px;
}
.card-block {
    padding: 15px;
}
.card-title {
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
    font-size: 16px;
}
.card-detail {
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-expdate {
    font-size: 12px;
    margin-bottom: 0px;
}
.card-img-top {
    width: 100%;
}
.coupon-body {
    border-style: dashed;
    margin: 10px;
}
.media-img {
    width: 50px;
}
.coupon-fine-print {
    font-size: 10px;
}
#map {
    height: 300px;
}
.modal-footer {
    text-align: left;
}
.share-form-label {
    margin-top: 5px;
}

footer {
    background-color: #ECECEC;
    padding-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.footer-menu>a {
    padding: 5px;
}
.copy {
    color: black;
    text-align: center;
    margin-top: 15px;
}
